@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-playfair-display: "Playfair Display", serif;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair-display);
}

@keyframes calmMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-calm {
  animation: calmMove 15s infinite ease-in-out;
  background-size: 400% 400%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(63, 31, 0, 0.3),
    rgba(255, 255, 255, 0.2)
  );
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}
@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
